{% load static %}
<!DOCTYPE html>
<head>
    <title>test1</title>
    <!-- Template CSS -->
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body class="bg-light">
    <header class="absolute-top">
            <div class="container-fluid">
                <nav class="navbar navbar-dark bg-primary">
                    <a class="navbar-brand" href="#">
                      <img src="{%static 'img/logo_esamaz_topo.png'%}" style="width:250px;height:82;"  class="d-inline-block align-top" alt="">
                    </a>
                </nav>       
            </div>
    </header>
<!--conteudo-->
    <section class="container">
    <div class="row">
       
        {% for i in card %}
        <div class="card border-dark mb-3" style="max-width: 15rem;">
            <div class="card-header">{{i.OBSERVAÇÃO}}</div>
                <div class="card-body text-dark">
                  <h5 class="card-title">{{i.NOME}}</h5>
                  <p class="card-text">{{i.FK_TIPO_DE_SALA}}</p>
                </div>
              </div>-->
        {% endfor %}

    </div>
    </section>
<!--fecha conteudo-->
    
</body>
</html>