{% load static %}
<!DOCTYPE html>
<html lang="en">
    <html lang="en">
        <head>
          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      
          <title>test1</title>
      
          <!-- Template CSS -->
          <link rel="stylesheet" href="{% static 'assets/css/style-starter.css'%}">
          <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,700,700i&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        </head>
<body>
    <section class=" w3l-header-4 header-sticky">
        <header class="absolute-top">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <h1><a class="navbar-brand" href="#"><span class="" aria-hidden="true"><img style="width:50px;height:50px;" src="{% static 'assets/images/esamazico.ico'%}" alt=""></span> 
                    SAS
                    </a></h1>
                        <button class="navbar-toggler bg-gradient collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="fa icon-expand fa-bars"></span>
                            <span class="fa icon-close fa-times"></span>
                        </button>
            
                    <!--div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="services.html">Services</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>-->
                </div>
        
                </nav>
        </div>
          </header>
    </section>

    <section class="w3l-call-to-action_9">
        <div class="call-w3 editContent">
            <div class="container">
                <div class="grids">
                    <div class="grids-content row">
                        <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                            <div class="bg-color-white">   
                                <div class="span-color editContent">     
                                    <span class="fa fa-thumbs-o-up" aria-hidden="true"></span>
                                </div>
                            <h4><a href="about.html" class=" editContent">Experienced Staff</a></h4>
                                <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>
                            </div>
                        </div>
                        <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                            <div class="bg-color-white">
                                <div class="span-color editContent">  
                                <span class="fa fa-smile-o" aria-hidden="true"></span>
                            </div>
                            <h4><a href="about.html" class=" editContent">Top Class Facilities</a></h4>
                            <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>
                      
                        </div>
                        </div>
    
                    <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                        <div class="bg-color-white">
                            <div class="span-color editContent">  
                            <span class="fa fa-laptop" aria-hidden="true"></span>
                            </div>
                        <h4><a href="about.html" class=" editContent">Easy Consultation</a></h4>
                        <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>
                    
                    </div>
                </div>
                <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                    <div class="bg-color-white">   
                        <div class="span-color editContent">     
                <span class="fa fa-diamond" aria-hidden="true"></span>
            </div>
                    <h4><a href="about.html" class=" editContent">Clipping Fur</a></h4>
                    <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>
        
                </div>
            </div>       
                <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
                <div class="bg-color-white">   
                    <div class="span-color editContent">     
            <span class="fa fa-magic" aria-hidden="true"></span>
        </div>
                <h4><a href="about.html" class=" editContent"> Brushing</a></h4>
                <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>
    
            </div>
        </div>                       <div class="column col-lg-4 col-md-6 col-sm-6 color-2 editContent">
            <div class="bg-color-white">   
                <div class="span-color editContent">     
        <span class="fa fa-check" aria-hidden="true"></span>
    </div>
            <h4><a href="about.html" class=" editContent">Ear Cleaning</a></h4>
            <p class="para editContent">Assumenda temporibus quidem ipsam. Voluptate fuga corporis iusto similique voluptates sint quibusdam.</p>
    
        </div>
    </div>
                    </div>
                    </div>
            </div>
        </div>
    </section>

</body>
</html>